/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #e6f7ff; /* Меняем серый фон на светло-голубой */
    margin: 0;
    padding: 0;
}

nav {
    background-color: #003366; /* Темно-синий цвет для навигации */
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #003366; /* Темно-синий заголовок */
}

form {
    display: flex;
    flex-direction: column;
}

input, button {
    margin-bottom: 15px;
}

input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Adjustments for specific button types */
#login-btn, #register-btn {
    width: 100%;
    margin-top: 20px;
    background-color: #007bff;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 8px;
}

#login-btn:hover, #register-btn:hover {
    background-color: #0056b3;
}


/* Flash messages */
.alert {
    margin-top: 20px;
}

.alert-dismissible .close {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 0;
    background: none;
    border: none;
    font-size: 1.5rem;
}

/* Small screen optimization */
@media (max-width: 576px) {
    .container {
        width: 90%;
        padding: 15px;
    }
}
