{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2 class="text-center mb-4">Добавить бронирование</h2>

    <form action="{{ url_for('add_booking') }}" method="post" class="form-container">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

        <div class="mb-3">
            <label for="flight_id" class="form-label">Выберите рейс:</label>
            <select name="flight_id" id="flight_id" class="form-select" required>
                {% for flight in flights %}
                    <option value="{{ flight.id }}">{{ flight.flight_number }} - {{ flight.departure_city }} ➔ {{ flight.arrival_city }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <label for="status" class="form-label">Статус:</label>
            <select name="status" id="status" class="form-select">
                <option value="confirmed">Подтверждено</option>
                <option value="canceled">Отменено</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Забронировать</button>
    </form>
</div>
{% endblock %}
