{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Редактировать бронирование</h1>
    <form action="{{ url_for('edit_booking', booking_id=booking.id) }}" method="post" class="mt-4">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

        <div class="mb-3">
            <label for="status" class="form-label">Статус:</label>
            {% set selected_confirmed = 'selected' if booking.status == 'confirmed' else '' %}
            {% set selected_canceled = 'selected' if booking.status == 'canceled' else '' %}
            <select name="status" id="status" required class="form-select">
                <option value="confirmed" {{ selected_confirmed }}>Подтверждено</option>
                <option value="canceled" {{ selected_canceled }}>Отменено</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
</div>
{% endblock %}
