{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h2>Вход в систему</h2>
    <form method="POST">
        {{ form.hidden_tag() }}

        <div class="mb-3">
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control") }}
            {% for error in form.email.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="mb-3">
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control") }}
            {% for error in form.password.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        {{ form.submit(class="btn btn-primary") }}
    </form>

    <!-- OAuth кнопки для входа через GitHub и Яндекс -->
    <div class="mt-3">
        <form action="{{ url_for('github.login') }}" method="get">
            <button type="submit" class="btn btn-dark">Войти через GitHub</button>
        </form>
        <form action="{{ url_for('yandex_login') }}" method="get">
            <button type="submit" class="btn btn-warning mt-2">Войти через Яндекс</button>
        </form>
    </div>

    <div class="mt-3">
        <!-- Ссылка для восстановления пароля -->
        <p><a href="{{ url_for('reset_request') }}">Забыли пароль?</a></p>
        <!-- Кнопка для регистрации -->
        <p>Еще не зарегистрированы? <a href="{{ url_for('register') }}" class="btn btn-link">Зарегистрироваться</a></p>
    </div>
</div>
{% endblock %}
