{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h2>Введите новый пароль</h2>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <label for="password">Новый пароль:</label>
        <input type="password" id="password" name="password" required>

        <label for="confirm_password">Подтвердите новый пароль:</label>
        <input type="password" id="confirm_password" name="confirm_password" required>

        <button type="submit">Сбросить пароль</button>
    </form>
</div>
{% endblock %}